@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html, body, #app {
	@apply h-full;
}

.button {
	@apply h-11 m-1 rounded-lg;
	@apply bg-gray-500 hover:bg-gray-400 active:bg-gray-300;
	@apply disabled:bg-gray-300 disabled:text-gray-400;
}

.group-hover-visible {
	@apply invisible group-hover:visible;
}
